{% load static %}
<html>
    <head>
        <title>RPS</title>
        <link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href = "https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel = "stylesheet" type = "text/css">
        <link rel = "stylesheet" href = "{% static 'css/rps.css' %}">
        <link rel="stylesheet" href="{% static 'ckeditor/ckeditor.css' %}">
        <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
        {{ form.media }}
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

            <h1><a href="/">Main</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>