{% extends 'main/base.html' %}

{% block content %}
    <div class="array">
        <h1>Welcome to Array Sorter 2000</h1>
        <p>To add an array press + button in top right corner</p>
        <p>To access editing mode for chosen array, click on its name in the list on the main page, then on opened page click pencil button</p>
        <p>To save and sort an array, click save and sort button in editing mode</p>
        <p>Please enter numbers separated by space in array field in editing mode</p>
    </div>
{% endblock %}