{% extends 'massiv/base.html' %}

{% block content %}
    <h1>New array</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <h3>array_name</h3>
        <textarea name="{{ form.array_name.name }}" class="ckeditor">{{ form.array_name.value }}</textarea>
        <h3>sorted_array</h3>
        <textarea name="{{ form.sorted_array.name }}" class="ckeditor">{{ form.sorted_array.value }}</textarea>
        <button type="submit" name="action" value="save" class="save btn btn-default">Save</button>
        <input type="submit" name="action" value="sort" class="top-menu" formaction="{% url 'sort_array' %}">
    </form>
{% endblock %}